server:
  port: 8080

spring:
  application:
    name: Api Gateway

  datasource:
    url: jdbc:h2:mem:metricsdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

service:
  product:
    url: http://localhost:8081
  order:
    url: http://localhost:8082
  payment:
    url: http://localhost:8084
  shipping:
    url: http://localhost:8083

logging:
  level:
    root: INFO
  file:
    name: log.txt
